.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#School_Name {
    background: linear-gradient(#F7FFD1, #A4EBAA);
}

.Container {
    text-align: center;
}

#Contacts {
    background: linear-gradient(#BCEAEB, #D9FC79, #EBBFA4);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.main_div img {
    width: 100%;
    height: 300px;
}

.main_div hr {
    widows: 100%;
}

.main_div {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #C7C7C7;
}
